//- extends layout

block content
  .container
    h1.text-center.my-4 Catálogo de Productos

    .row
      //- Sidebar de categorías
      .col-md-3
        .list-group
          a.list-group-item.list-group-item-action.active(href='#') Todas las Categorías
          a.list-group-item.list-group-item-action(href='?category=libro') Libros
          a.list-group-item.list-group-item-action(href='?category=revista') Revistas
          a.list-group-item.list-group-item-action(href='?category=articulo') Artículos

      //- Zona de productos
      .col-md-9
        if products.length
          .row
            each product in products
              .col-md-6.col-lg-4.mb-4
                .card.h-100.shadow-sm
                  .card-body.d-flex.flex-column
                    h5.card-title= product.name
                    p.card-text.mb-1
                      strong Categoría: 
                      span.text-muted.ms-1= product.category
                    p.card-text.mb-1
                      strong Precio: 
                      span.text-success.ms-1= `$${product.price}`
                    p.card-text.mb-2
                      strong Stock: 
                      span.text-muted.ms-1= product.stock
                    if product.description
                      p.card-text.mt-auto.text-secondary.small= product.description
        else
          p.text-muted No hay productos disponibles en esta categoría.
